* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: darkgrey;
}

.cont-card {
  height: 70vh;
  width: 25vw;
  background-color: rgba(16, 22, 18, 1);
  position: relative;
  top: 20vh;
  border-radius: 2vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.part-1 {
  background-image: url(img/pexels-mikhail-nilov-6526177.jpg);
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-prof {
  width: 80%;
  height: 80%;
  background-color: white;
  position: relative;
  top: 15vh;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 30px rgb(15, 15, 15);
  z-index: 1000000;
}

.foto {
  background-image: url(img/pexels-myicahel-tamburini-1554740.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10vh;
  width: 5.5vw;
  border-radius: 4vw;
  position: relative;
  bottom: 8vh;
  box-shadow: 5px 5px 10px rgb(15, 15, 15);
}

h1 {
  position: relative;
  bottom: 5vh;
  font-size: 1.6vw;
  margin-bottom: 0.5vh;
}

.user-prof p {
  position: relative;
  bottom: 4vh;
  font-size: 0.8vw;
  width: 60%;
  font-weight: 100;
  text-align: center;
}

.cont-btn {
  position: relative;
  bottom: 1vh;
  font-size: 1vw;
  padding-bottom: 2vh;
}

.follow {
  background-color: rgba(16, 22, 18, 1);
  padding: 0.7vh 4vw;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3vw;
  box-shadow: 5px 5px 10px rgb(15, 15, 15);
}

.send {
  background-color: rgba(121, 140, 134, 1);
  padding: 0.7vh 2vw;
  border-radius: 0.3vw;
  color: #fff;
  margin-left: 1vw;
  box-shadow: 5px 5px 10px rgb(15, 15, 15);
}

.part-2 {
  background-color: #fff;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part-2 ul {
  list-style: none;
  padding: 1vw;
  text-align: center;
}

.number {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 1vw;
}

.desc-num {
  font-weight: 100;
  font-size: 1vw;
}

.cont-featured {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -10vh;
}

.img-featured {
  height: 5vh;
  width: 3vw;
  border-radius: 60px;
  box-shadow: 0px 2px 10px 0.5px rgb(63, 63, 63);
}

.cont-featured p {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0.5px rgb(63, 63, 63);
  width: 80%;
  text-align: center;
  padding: 1vh;
  font-weight: bolder;
  margin-bottom: 1vh;
  border-radius: 0.5vw;
  font-size: 1vw;
}

.cont-list-featured {
  display: flex;
}

.cont-list-featured ul {
  list-style: none;
  margin: 1vw;
}

.cont-list-featured ul li {
  font-size: 1vw;
}

.cont-galery p {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0.5px rgb(63, 63, 63);
  width: 80%;
  text-align: center;
  padding: 1vh;
  font-weight: bolder;
  margin-bottom: 1vh;
  border-radius: 0.5vw;
  font-size: 1vw;
}

.cont-galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: relative;
  top: -10vh;
  padding-top: 3vh;
  height: 100vh;
}

.galery {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.galery img {
  height: 20vh;
  width: 9vw;
  margin: 0.5vw;
  box-shadow: 0px 2px 10px 0.5px rgb(63, 63, 63);
}

.settings {
  background-color: rgb(20, 20, 20);
  position: fixed;
  bottom: 10vh;
  left: 37.5vw;
  width: 25vw;
  height: 10vh;
  border-radius: 0 0 1.5vw 1.5vw;
}

.settings ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.settings ul li .icono-nav {
  font-size: 1.5vw;
  color: #fff;
  margin: 1.5vw;
  margin-top: 4vh;
}

#med-icon {
  font-size: 2vw;
  color: rgb(19, 18, 18);
  margin: 1.5vw;
  margin-top: 3vh;
  background-color: #fff;
  padding: 0.2vw 1vw;
  border-radius: 0.5vw;
}

::-webkit-scrollbar {
  display: none;
}
